.calculadora{
	width: 400px;
	font-size: 18px;
}

input[type="button"]:hover{
	background-color:slategray;
	cursor: pointer;
}

input[type="button"].arit{
	background-color:maroon;
}

input[type="button"].igual{
	background-color: green;
}

input[type="button"].clear{
	background-color:orangered;
}

input[name="txtcaja1"]{
	margin-bottom: 5px;
	background-color:black;
	border:0px;
	width:250px;
	font-size: 20px;
	color: white;
	text-align: right;
	pointer-events: none;
}

input[name="txtcaja2"]{
	margin-bottom: 5px;
	background-color:black;
	border:0px;
	width:250px;
	font-size: 20px;
	color: white;
	text-align: right;
	pointer-events: none;

}

input[type="button"]{
	font-weight:lighter;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	width:60px;
	border:0px;
	height: 60px;
	color: white;
	background-color:blue;
	margin-bottom: 5px;
	}
